//TIPOGRAFIAS

$roboto-font: "Roboto", sans-serif;
$poppins-font: "Poppins", serif;
$montserrat-font: "Montserrat", serif;

//COLORES

$color-salmon: #F38160;
$color-gris: #949494;
$color-negro: #403C39;
$color-gris-claro: #F3F3F3;