@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", serif;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #F38160;
  padding: 10px 25px;
  border-radius: 14px;
  font-weight: 300;
  transition: 0.2s;
}
.btn:hover {
  background-color: #ef5b31;
}

.hero__content {
  width: 50%;
  padding-top: 80px;
}
.hero__title {
  font-size: 60px;
  color: #403C39;
  line-height: 65px;
  margin-bottom: 10px;
}
.hero__title span {
  color: #F38160;
}
.hero__description {
  width: 75%;
  color: #949494;
  font-size: 18px;
  margin-bottom: 30px;
}
.hero__buscador {
  display: flex;
  align-items: stretch;
  width: 60%;
  margin-bottom: 30px;
}
.hero__buscador input {
  flex: 1;
  background-color: #F3F3F3;
  border: none;
  padding: 10px 20px;
  border-radius: 10px 0px 0px 10px;
}
.hero__buscador input::placeholder {
  color: #949494;
  font-family: "Poppins", serif;
  font-size: 15px;
}
.hero__buscador button {
  border: none;
  background-color: #F38160;
  padding: 10px 15px;
  border-radius: 0px 10px 10px 0px;
}
.hero__info {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 20px;
}
.hero__info li {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #949494;
  width: 40%;
  font-size: 14px;
}
.hero__info img {
  width: 20px;
}

.categories {
  display: flex;
  padding: 20px;
  padding-top: 50px;
  gap: 25px;
}
.categories__item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}
.categories__item img {
  width: 80px;
}
.categories__title {
  color: #403C39;
  font-weight: 600;
}
.categories__description {
  color: #949494;
  font-size: 15px;
}

nav.header__menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
  align-items: center;
}
nav.header__menu ul a {
  text-decoration: none;
  color: #949494;
}
nav.header__menu ul a.active, nav.header__menu ul a:hover {
  color: #F38160;
  position: relative;
}
nav.header__menu ul a.active::before, nav.header__menu ul a:hover::before {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #F38160;
  width: 80%;
  bottom: -10px;
  left: 10%;
}

nav.header__aside ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 56px;
  align-items: center;
}
nav.header__aside ul a.sign-in {
  color: #F38160;
}
nav.header__aside ul img {
  width: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header a {
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/man.png);
  background-repeat: no-repeat;
  background-size: 450px;
  background-position: 80% 20%;
}

body {
  overflow-x: hidden;
  margin-top: 30px;
  margin-bottom: 30px;
}/*# sourceMappingURL=style.css.map */