.header {
    padding-top: 16px;

    .container {

        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 40px;
        }
    
        .menu ul {
            @include reset-list();
        }
    }
}