/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
} 


/*---Aquí empieza el proyecto---*/
:root {
  --color-blue: #515DEF;
  --color-black: #333333;
  --color-white: #FBFBFB;
  --color-grey: #909090;
}

body {
  font-family: "Poppins", serif;;
  margin: 0;
  padding: 0;
  background-color: var(--color-blue);
  background-image: url(../img/imagen-hero@2x.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 710px;
}

div.container {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/*---HEADER---*/
header.main-header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
  gap: 70px;
}

header.main-header ul {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

header.main-header ul li a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 10px 20px;
}

header.main-header nav ul li a {
  display: block;
  transition: transform 0.2s ease-in-out;
}

header.main-header nav ul li a:hover {
  transform: scale(1.1);
}

header.main-header nav {
  width: 100%;
}

header.main-header nav ul li:last-child {
  margin-left: auto;
  background-color: black;
}

/*---HERO---*/
section.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  color: var(--color-white);
  margin-bottom: 50px;
}

section.hero a {
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  width: 15%;
}

.hero__initial {
  max-width: 50%;
  margin: 0;
  font-size: 20px;
}

.hero__title {
  max-width: 50%;
  font-size: 55px;
  margin: 0;
}

.hero__subtitle {
  margin: 0;
  max-width: 52%;
  font-size: 20px;
}

/*---CATEGORIES---*/
.categories {
  background-color: var(--color-white);
  display: flex;
  gap: 70px;
  position: relative;
  padding: 70px 70px;
  transform: translateX(-120px);
}

.categories article {
  background-color: var(--color-white);
}

h3.category__title {
  margin-top: 20px;
  margin-bottom: 10px;
}

p.category__description {
  color: var(--color-grey);
  margin: 0;
}